.container
  .tile.event-details.u-margin-top-lg
    .tile-content.full-width.flex-container.flex-column.justify-center.align-center
      %img.tile-icon-medium{ alt: "GitLab Contribute date icon svg", src: "/images/events/event-date-icon.svg" }
      %h4 Feb 10-13 2020
    .tile-content.full-width.flex-container.flex-column.justify-center.align-center
      %img.tile-icon-medium{ alt: "#GitLab Contribute location icon svg", src: "/images/events/event-location-icon.svg" }
      %h4 Vancouver, BC, Canada
