.col-md-12.u-margin-top-sm.u-padding-bottom-md.text-center
  %h2.u-text-brand Learn
  %h4 What to expect at GitLab Commit
  .container
    .row.u-margin-top-sm
      .col-md-5.col-md-offset-1.text-left
        .container-flex.u-margin-bottom-xs
          %img.title-icon{ src: "/images/events/gitlab-commit/new-feature.png", alt: "GitLab talks png" }
          %h3.margin0 Talks
        %p Attend carefully curated sessions and talks presented by GitLab users, contributors, and product team members.
      .col-md-5.text-left
        .container-flex.u-margin-bottom-xs
          %img.title-icon{ src: "/images/events/gitlab-commit/communication.png", alt: "GitLab talks png" }
          %h3.margin0 Ask the experts
        %p Get your questions answered by knowledgeable GitLabbers and the core community. The UX team will be taking user usability requests. The security product team will have offfice hours to field questions on shifting left and integrating security into your DevOps workflows. 
    .row.u-margin-top-sm
      .col-md-5.col-md-offset-1.text-left
        .container-flex.u-margin-bottom-xs
          %img.title-icon{ src: "/images/events/gitlab-commit/access.png", alt: "GitLab talks png" }
          %h3.margin0 Support
        %p Visit the GitLab Support Lab for 1:1 problem solving and troubleshooting.
      .col-md-5.text-left
        .container-flex.u-margin-bottom-xs
          %img.title-icon{ src: "/images/events/gitlab-commit/access.png", alt: "GitLab talks png" }
          %h3.margin0 Hiring
        %p Recruiters will be at the ready for resume review and hiring inquiries. 
    .row.u-margin-top-sm
      .col-md-5.col-md-offset-1.text-left
        .container-flex.u-margin-bottom-xs
          %img.title-icon{ src: "/images/icons/concurrent-devops-dark-dark.svg", alt: "GitLab cloud svg", style: "width:66px;" }
          %h3.margin0 Cloud Native
        %p Learn about designing, developing, and deploying multi cloud, resilient, scalable applications , and running your pipelines using the cloud and Kubernetes  
      .col-md-5.text-left
        .container-flex.u-margin-bottom-xs
          %img.title-icon{ src: "/images/icons/pillar-speed-alt.svg", alt: "GitLab speed svg", style: "width:66px;" }
          %h3.margin0 Speed Without Compromise
        %p Stories about how teams streamline development and deliver value faster without compromising security or compliance.
    .row.u-margin-top-sm
      .col-md-5.col-md-offset-1.text-left
        .container-flex.u-margin-bottom-xs
          %img.title-icon{ src: "/images/icons/first-look-influence.svg", alt: "GitLab optimizing svg", style: "width:66px;" }
          %h3.margin0 Optimizing GitLab
        %p Learn how to deploy, configure, and manage your GitLab environment to enable your DevOps teams to be optimally effective.